{% extends 'base.html.twig' %}

{% block body %}

	<form method="post">
		<labe for="name">
			Nome da Series:
		</label>
		<input type="text" name="name" id="name"/>
		<button>
			Adicionar
		</button>
	</form>
{% endblock %}
