{% extends 'base.html.twig' %}

{% block title %}
	Adicionar series
{% endblock %}

{% block body %}

	<form method="post">
		<div class="mb-3">
			<labe for="name" class="form-label">
				Nome da Series:
			</label>
			<input type="text" name="name" id="name" class="form-control mb-3"/>
			<button class="btn btn-dark">
				Adicionar
			</button>
		</div>
	</form>
{% endblock %}
